/* Resetting margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif; /* Setting the font family for all elements to 'poppins' and fallback to sans-serif */
}

body {
    background-color: #f2f2f2;
    overflow: hidden; /* Hide overflow to prevent scrolling during animation */
}

.navbar .navbar-toggler {
    display: flex;
    justify-content: end;
}

.navbar .navbar-toggler-icon {
    order: -1; /* This will reverse the order of the icon, placing it on the right */
}




.form-box {
    opacity: 0; /* Set initial opacity to 0 for fade-in effect */
    animation: fadeIn 1s ease-in-out forwards; /* Add animation for fade-in effect */
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display:flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff; /* Change color to white */
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: aquamarine;
    text-decoration: none;
    margin-left: 60px;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline:none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #ffffff; /* Change color to white */
    font-weight: 600;
}

.register p a {
    text-decoration: none;
    color:  aquamarine;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.fabdo {
    color: #fff; /* Change color to white */
}
