/* Resetting margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    overflow: hidden; /* Prevents horizontal scrollbar */
}

.navbar {
    display: flex;
    justify-content: space-between; /* Align items at the ends */
    align-items: center; /* Center items vertically */
    padding: 10px;
    width: 100%; /* Make the navbar stretch across the entire width */
    background-color: #000000; /* Example background color */
}

.navbar.bg-dark.fixed-top {
    background-color: black !important;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #EBD698;
}

/* New styles added */
.navbar .navbar-toggler {
    display: flex;
    justify-content: flex-end;
}

.navbar .navbar-toggler-icon {
    order: -1; /* This will reverse the order of the icon, placing it on the right */
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#porscheLogo {
    width: 20%; /* Use a percentage to make the logo responsive */
    max-width: 200px; /* Set a maximum width to avoid excessive scaling */
    opacity: 0;
    animation: fadeInLogo 1s ease-in-out 1s forwards;
}

#porscheLogo2{
    width: 50px;
    height: 50px;
    animation-name: glow;
    animation-duration: 4s;
    /* animation is repeated */
    animation-iteration-count: infinite;
}

@keyframes glow { /* width height blur radius*/
    25%{box-shadow: 50px 20px 80px #00ffff}
}

.text-content {
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    animation: fadeInText 1s ease-in-out 2s forwards;
}

h1 {
    color: #000000;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    color: #333333;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.6;
}

@keyframes fadeInLogo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-content h1,
.text-content p {
    animation: fadeInText 1s ease-in forwards, fadeOutText 1s ease-in 11s forwards;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    z-index: -1;
}